
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption!</title>
  </head>
  <body>

    <form method="post" action="/display_puppy"> <!-- make sure this is right route -->
      <p>Enter your puppy info:</p>

      <p>name: <input type="text" name="name"></p> <!-- name is how we can access params -->
      <p>age: <input type="text" name="age"></p>
      <p>breed: <input type="text" name="breed"></p>

      <button type="submit" value="submit">Submit</button>
    </form>


  </body>
</html>
